
html{
    font-size: 10px;
    box-sizing: border-box;
}
*,*::before,*::after{
    box-sizing: inherit;
}
a{
    text-decoration: none;
}
body{
    font-size: 1.6rem;
    line-height: 1.6;
}
.container{
    width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
    position: relative;

}
@media screen and (min-width: 576px) {
    .container {
        width: 54rem;
    }
}
@media screen and (min-width: 768px) {
    .container {
        width: 72rem;
    }
}
@media screen and (min-width: 992px) {
    .container {
        width: 96rem;
    }

}
@media screen and (min-width: 1200px) {
    .container {
        width: 114rem;
    }

}
@media screen and (min-width: 1400px) {
    .container {
        width: 137rem;
    }
}